# Dependencies
node_modules/

# Build outputs
dist/
dist-electron/
release/
out/
*.local

# Environment
.env
.env.local
.env.*.local

# Code signing (asla repo'ya eklemeyin)
*.pfx
*.p12

# Logs and debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE / Editor
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swp
*.swo
*~

# Electron
*.cache

# Optional
*.tsbuildinfo
